#login{
    height: 300px;
    width: 300px;
    background-color: rgb(16, 235, 235);
    position:absolute;
    left:200px;
    top:150px;
}

#admin{
    height: 300px;
    width: 300px;
    background-color: rgb(16, 235, 235);
    position: absolute;
    left: 820px;
    top: 150px;
}

#Login_To_Home{
    position:absolute;
    left: 30px;
    top: 30px;

}


/*-----------------Home------------------*/

#Login{
    position:absolute;
    left: 1000px;
    top: 10px;

}

#options{
    height: 60px;
    width: 1250px;
    background-color: aqua;
    position:relative;
    left:60px;
    top: 5px;
    
}

#top{
    height: 600px;
    width: 300px;
    background-color: aquamarine;
    overflow: scroll;
    position:absolute;
    left:60px;
    top: 150px;
}

#grafica_top{
    height: 200px;
    width: 920px;
    background-color: darkgoldenrod;
    position:absolute;
    left:400px;
    top: 500px;

}

#fondo{
    height: 300px;
    width: 590px;
    background-color: rgb(98, 91, 196);
    position:absolute;
    left:400px;
    top: 150px;
}

#Autores{
    position:absolute;
    left: 300px;
    top: 10px;

}
#Libros{
    position:absolute;
    left: 850px;
    top: 10px;
}

#tarjeta_cliente_top{
    height: 250px;
    width: 240px;
    background-color: rgb(233, 15, 204);
    margin: 20px 20px 20px 20px;

}

#imagen_usuario{
    height: 120px;
    width: 150px;
    background-image: 
    url("logo_usuario.jpg");
    /*primero: arriba segundo: tercero: abajo cuarto: izquierda */
    margin: 20px 20px 20px 40px;
    background-size: cover;

}


/*----------------------Administrador----------------*/

#botones{
    height: 200px;
    width: 700px;
    background-color: aquamarine;
    position: absolute;
    left: 350px;
    top: 100px;
}

#cola_pendiente{
    height: 1000px;
    width: 250px;
    overflow: scroll;
    background-color: darkturquoise;
    position: absolute;
    left: 50px;
    top: 100px;

}

#lista{
    height: 1000px;
    width: 250px;
    background-color: fuchsia;
    position: absolute;
    left: 1080px;
    top: 100px;

}

#Menu{
    position: absolute;
    left: 5px;
    top: 5px;
}

#text_libros{
    position: absolute;
    left: 5px;
    top: 40px;
}

#text_autores{
    position: absolute;
    left: 200px;
    top: 40px;
}

#text_usuarios{
    position: absolute;
    left: 400px;
    top: 40px;
}


#Cargar_libros{
    position: absolute;
    left: 5px;
    top: 100px;
}

#Cargar_autores{
    position: absolute;
    left: 200px;
    top: 100px;
}

#Cargar_usuarios{
    position: absolute;
    left: 400px;
    top: 100px;
}

#tarjeta{
    height: 100px;
    width: 200px;
    overflow: scroll;
    background-color: rgb(255, 0, 0);
    margin: 20px 20px 20px 20px;
}

#grafica_lista_listas{
    height: 800px;
    width: 700px;
    background-color: darkorange;
    position: absolute;
    left: 350px;
    top: 700px;
}

#grafica_cola{
    height: 300px;
    width: 700px;
    background-color: darkorange;
    position: absolute;
    left: 350px;
    top: 350px;

}

#tarjeta_usuario_pendiente{
    height: 100px;
    width: 200px;
    background-color: rgb(255, 251, 0);
    margin: 20px 20px 20px 20px;

}


/*-----------------------------Vista cliente---------------------*/

#libros_fantasia{
    height: 800px;
    width: 1000px;
    background-image:
    url("estanteria.png");
    
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 10px;
    top: 50px;
    
}

#libros_thriller{
    height: 800px; /*altura*/
    width: 1000px;
    background-image:
    url("estanteria.png");
    background-size: cover;
    
    position: absolute;
    left: 10px;
    top: 900px;
}

#Home{
    position: absolute;
    left: 5px;
    top: 5px;
}

#disponibilidad{
    height: 50px;
    width: 270px;

    background-color: yellowgreen;
    position: absolute;
    left: 1030px;
    top: 50px;

}

#Cantidad_libros{
    height: 700px;
    width: 270px;

    background-color: greenyellow;
    position: absolute;
    left: 1030px;
    top: 150px; 
}



/*-----------------------------Vista libros-----------------------*/

#Botones{
    height: 100px;
    width: 1150px;

    background-color: yellowgreen;
    position: absolute;
    left: 100px;
    top: 10px;

}

#Ordenar_ascendente{
    position: absolute;
    left: 200px;
    top: 40px;
}

#Ordenar_descendente{
    position: absolute;
    left: 750px;
    top: 40px;
}

#lista_libros{
    height: 600px;
    width: 250px;
    overflow: scroll;
    background-color: crimson;
    position: absolute;
    left: 20px;
    top: 150px;
    
}

#lista_ascendente{
    height: 600px;
    width: 250px;
    overflow: scroll;
    background-color: crimson;
    position: absolute;
    left: 500px;
    top: 150px;
}

#lista_descendente{
    height: 600px;
    width: 250px;
    overflow: scroll;
    background-color: crimson;
    position: absolute;
    left: 1000px;
    top: 150px;
}

#Codigo_Burbuja{
    height: 600px;
    width: 600px;
    overflow: scroll;
    background-color: darkgray;
    position: absolute;
    left: 10px;
    top: 800px;

}

#Codigo_Quicksort{
    height: 600px;
    width: 600px;
    overflow: scroll;
    background-color: darkgray;
    position: absolute;
    left: 700px;
    top: 800px;
}

#LibrosToHome{
    position: absolute;
    left: 10px;
    top: 10px;

}

#tarjeta_libro{
    height: 280px;
    width: 200px;
    background-color: greenyellow;
    margin: 20px 20px 20px 20px;

}

#imagen_libro{
    height: 100px;
    width: 150px;
    background-image:
    url("libro_fondo.png");

    margin: 20px 20px 20px 25px;
    background-size: cover;
}




/*-----------------------------Vista autores----------------------*/

#Lista_Autores{
    height: 800px;
    width: 250px;
    overflow: scroll;
    background-color: burlywood;
    position: absolute;
    left: 10px;
    top: 100px;
}

#Arbol{
    
    height: 500px;
    width: 1000px;
    background-color: burlywood;
    position: absolute;
    left: 300px;
    top: 100px;
}

#Buscador{
    height: 30px;
    width: 300px;
    background-color: rgb(89, 1, 189);
    position: absolute;
    left: 800px;
    top: 50px;
}

#autorToHome{
    position: absolute;
    left: 10px;
    top: 10px;
}

#tarjeta_autor{
    height: 200px;
    width: 200px;
    background-color: rgb(21, 255, 0);
    margin: 20px 20px 20px 20px;
}

#imagen_autor{ /*Agregar imagen en div*/
    height: 130px;
    width: 150px;
    background-image: 
    url("avatar_autor.png");
    /*primero: arriba segundo: tercero: abajo cuarto: izquierda */
    margin: 20px 20px 10px 20px;
    background-size: cover;
}

#Biografia{
    height: 200px;
    width: 300px;
    background-color: burlywood;
    position: absolute;
    left: 650px;
    top: 650px;

}

#tarjeta_biografia{
    overflow: scroll;
    height: 180px;
    width: 280px;
    background-color: aqua;
    margin: 10px 10px 10px 10px;

}